<ion-list>
  <ion-list-header>Payment</ion-list-header>
  
    <ion-item>
      <ion-label></ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Cash</ion-select-option>
        <ion-select-option value="m">Transfers</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Transfers</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">BRI</ion-select-option>
        <ion-select-option value="blonde">BCA</ion-select-option>
        <ion-select-option value="black">MANDIRI</ion-select-option>
        <ion-select-option value="red">BNI</ion-select-option>
      </ion-select>
    </ion-item>
</ion-list>